// Personalizo el "BODY" del sitio web.

// Versión Móvil (Mobile First)

    // Agrego Fondo Al Sitio Web

        body {
            background: linear-gradient(0deg, rgba(74,189,109,1) 0%, rgba(193,223,205,1) 15%, rgba(240,255,246,1) 100%);
        }

// Versión PC

    // Agrego Fondo Al Sitio Web

        @media screen and (min-width: 991px) {
            body {
                margin-left: 50px;
                margin-right: 50px;
            }
        }