// Personalizo el "HEADER" del sitio web.

    // Personalizo el Formato General

        header {
            // Versión Móvil (Mobile First)

                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto auto;
                grid-row-gap: 10px;
                @extend .p_centrado;
                justify-items: center;
                justify-content: center;
                padding: 30px;

                img {
                    margin: 0px auto;
                    padding-bottom: 30px;
                }
            
            // Versión PC

                @media screen and (min-width: 991px) {
                    padding-bottom: 40px;
                }
            }

    // Personalizo el Texto      

        h1 {
            // Versión Móvil (Mobile First)
                
                color: $color-company-primary;
                font-size: $font-size-primary + 36px;
                font-family: $font-header;
                text-align: center;
                padding: 0px;
                margin: 0px;
            
            // Versión PC

                @media screen and (min-width: 991px) {
                    font-size: 500%;
                }    
            }

        h2 {
            // Versión Móvil (Mobile First)

                color: black;
                font-size: $font-size-primary + 4px;
                font-family: $font-primary;
                text-align: center;
                padding: 0px;
                margin: 0px;

            // Versión PC

                @media screen and (min-width: 991px) {          
                    font-size: 200%;
                }
            }

    // Personalizo el Logo de la Compañía

        #logo-ciudad-limpia {
            // Versión Móvil (Mobile First)

                border: 3px solid black;
                padding: 2px;
                height: auto;
                width: 35%;
                
                animation-name: bounce-in-left;
                animation-timing-function: ease;
                animation-duration: 2s;
            
            // Versión PC

                @media screen and (min-width: 991px) {
                    width: 50%;
                }
            }