// Personalizo el "MAIN" del Sitio Web. Formato y Texto.

main {
    padding-left: 10%;
    padding-right: 10%;
   
    p {
        // Versión Móvil (Mobile First)

            color: black;
            font-size: 14px;
            font-family: 'Oswald', sans-serif;
            text-align: justify;
            
            span {
                font-weight: bold;
                font-style: italic;
            }
        
        // Versión PC
    
            @media screen and (min-width: 991px) {          
                font-size: 16px;
            }
    }

    #container-p-sobre-nosotros {        
        // Versión PC
        
            @media screen and (min-width: 991px) {           
                p {
                    font-size: 22px;
                }
            }
    }

    .container-main-contacto {
        // Versión Móvil (Mobile First)
        
            section {
                margin-bottom: 20px;
            }

        // Versión PC
        
        @media screen and (min-width: 991px) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 100px;
            justify-content: center;
        }
    }       
}

h3 {
    // Versión Móvil (Mobile First)

        color: black;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 18px;
            
    // Versión PC
            
        @media screen and (min-width: 991px) {
            font-size: 28px;
            margin-bottom: 32px;
        }
}

h4 {
    // Versión Móvil (Mobile First)

        color: black;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
        
    // Versión PC
        
        @media screen and (min-width: 991px) {
            font-size: 20px;
        }
}

.p_centrado {
    text-align: center;
}

// Personalizo las Imágenes del "MAIN".

.imagenes-importantes {
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid black;
    margin: 0px auto;
    padding: 2px;
    
    animation-name: pulse;
    animation-timing-function: ease;
    animation-duration: 2s;
}        

#camion-porta-volquetes {
    // Versión PC
    
        @media screen and (min-width: 991px) {
            width: 75%;
        }
}

.imagenes-relevantes {
    // Versión Móvil (Mobile First)

        @extend .imagenes-importantes;

    // Versión PC

        @media screen and (min-width: 991px) {
            width: 100%;
        }
}

// Personalizo las "CARDS" del "MAIN" de la solapa "SERVICIOS"

.ordenar-servicios {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;   
}

.card {
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    backface-visibility: hidden;

    img {
        height: 100%;
        z-index: 10;
        border-radius: 30px;
    }

    .card-body {
        z-index: 30;
        position: absolute;
        bottom: 0px;
        color: #fff;
        padding: 20px;
        padding-bottom: 30px;
        text-align: center;
        opacity: 0;
        
        .card.title {
            color: #fff;
            text-shadow: 1px 1px $color-company-primary, 2px 2px #000;
            opacity: 0;
        }

        .card-text {
            color: #fff;
            font-size: 14px;
            font-family: 'Oswald', sans-serif;
            text-decoration-line: none;
            text-shadow: 1px 1px $color-company-primary, 2px 2px #000;
            opacity: 0;
        }
    }
}

// Agrego la pseudo-clase "HOVER" a las "CARDS" de la solapa "SERVICIOS"

.card:hover {
    filter: grayscale(100%);

    img {
        filter: opacity(0.7);
        box-shadow: 0 0 0 300px #000 inset;
        transition: all 1s ease;
    }

    .card-body {
        opacity: 1;
    }

    .card-title, .card-text {
        color: #fff;
        text-shadow: 1px 1px $color-company-primary, 2px 2px #000;
        opacity: 1;
        transform: scale(1.2);
        transition: all 1s ease;
    }
}

// Personalizo el "MAIN" de la solapa "PRECIOS"

.ordenar-precios {
    // Versión Móvil (Mobile First)

        @extend .ordenar-servicios;
        
        h4 {
            text-align: center;
        }

    // Versión PC

        @media screen and (min-width: 991px) {
            display: grid;
            grid-template-columns: repeat(3, auto);
            padding: 10px;
            justify-items: center;
            gap: 30px;
        }
}

// Personalizo las "TABLAS" del "MAIN" de la solapa "PRECIOS"

table {
    @extend .p_centrado;
    margin: 0px auto;
    border: #000 2px solid;
    margin-top: 15px;
    
    tr {
        color: black;
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        border: #000 1px solid;

        th {
            font-weight: normal;
            width: 150px;
        }
    }
}

// Agrego "FLEX-BOX" a la clase "ORDENAR-CONTACTO" para organizar la solapa "CONTACTO".

.ordenar-contacto {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    // Agrego formato al "FORMULARIO" de la solapa "CONTACTO"
    
    div {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
        width: 450px;
        margin: 1px;
        text-align: center;
        line-height: 30px;

        form {
            
            label {
                display: block;
                margin: 0.5em 0 0 0;
            }

            textarea {
                width: 300px;
                border: #000 1px solid;
                border-radius: 10px;
            }

            input {
                @extend textarea;
                text-align: center;
            }

            div {
                display: grid;
                grid-template-rows: repeat(2, auto);
                justify-content: center;
                gap: 10px;
            }  
        }
    }
}

// // Agrego formato a los distintos "SUBTITULOS" (h3 y h4) del "MAIN" del sitio web.

// // Agrego formato a los "PÁRRAFOS" (p) del "MAIN" del sitio web.

// // p {
 
// // }

// // Agrego formato a las "TABLAS" del "MAIN" del sitio web.




// // Agrego un "MAPA" y un "EACH" a la página "Contacto" para organizar los enlaces a las redes sociales de la empresa.

// $redes-sociales: (
//     facebook: #003cff,
//     instagram: #a600ff,
//     twitter:#003cff76,
// );

// @each $red-social, $color in $redes-sociales{
//     .red-social-#{$red-social} {
//         @extend .p_centrado;
//         color: $color;
//         font-weight: bold;
//     }
// }

